/* zerando configurações do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* definindo fonte e scop do projeto */
body {
}

/* tratando o campo do do cabeçalho */
header {
  display: flex;
  background-color: mediumvioletred;
  height: 80px;
  justify-content: space-between;
  padding: 15px;
}
.cabecalho {
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 30px;
}

.cabecalho img {
  height: 50px;
}

.titulo {
  display: flex;
}

/* tratando o botao de login*/
.btn-login {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 3px 0 darkgrey;
}

.btn-login:hover {
  color: #fff;
  background-color: #f2d0e0;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 800px;
  height: 100vh;
  grid-gap: 20px;
}

.navegation ul li {
  display: flex;
  justify-content: space-between;
}

/* Alinhando os icones na primeira coluna */
.navegation {
  grid-column: 1;
  grid-row: 1/5;
  width: 300px;
  background-color: #f2d0e0;
}
/* Alinhando os icones na primeira coluna - navbar*/
.navegation a {
  display: flex;
  text-decoration: none;
  color: black;
  align-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
  font-size: 30px;
}
/* ajustando os itens da coluna 1 - navbar*/
p {
  display: flex;
  text-decoration: none;
  color: black;
  align-content: center;
  align-items: flex-end;
  margin-top: 10px;
  padding: 10px;
}
/* Alinhando os imagens na primeira coluna */
ul img {
  height: 30px;
}

/* Ajustando o tamanho da imagem com a foto "DIV"*/
.produto {
  margin: 5px;
  height: 400px;
  width: 500px;
}
/* Adicionando efeito de sombra a partir do segundo filho */
.container > div:nth-child(n + 2) {
  box-shadow: 4px 3px 0 darkgrey;
  text-align: center;
  align-items: center;
}
/* tamanha da font do H3 dentro do grid */
.container h3 {
  font-size: 25px;
}
/* tamanha da font do P dentro do grid */
.container p {
  font-size: 15px;
  justify-content: center;
}

/* tratando o campo do footer */
footer {
  display: flex;

  min-height: 70px;
  background-color: mediumvioletred;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}


/* falta adicionar a responsividade  */



/* @media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .navegation {
    display: block;
  }
} */
